
*{
    margin: 0;
    padding: 0;
}

#navbar_box{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    /*position: absolute;*/
}

#navbar_1{
    flex: 1;
    background: white;
    border-right: 1px solid #EFEFF4;
    border-bottom: 1.5px solid #35CBA7;
}

#navbar_1 span{
    display: block;
    /*width: 100%;*/
    text-align: center;
    margin-left:50px;
    margin-right:50px;

    height: 50px;
    line-height: 50px;
    color: #35CBA7;
}

#navbar_2{
    flex: 1;
    background: white;
}

#navbar_2 span{
    display: block;
    /*width: 100%;*/
    text-align: center;
    margin-left:50px;
    margin-right:50px;

    height: 50px;
    line-height: 50px;
    color: #7F838B;
}

/*-----------1------------*/
#contain_navbar_1{
    background: #EFEFF4;
    width: 100%;
    /*height: 1200px;*/
    position: relative;
}

#tip_contain_navbar_1{
    /*background: red;*/
    width: 100%;
    height: 120px;
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tip_image_box_xj{
    width: 100%;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tip_image_box_xj img{
    width: 112px;
    height: 69px;
    text-align: center;
}

#tip_contain_navbar_1 p{
    color: black;
    font-size: 19px;
}

/*搜索内容*/
#containBox_xj{
    width: 100%;
    /*background: #EFEFF4;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
#searchBox_xj{
    width: 79%;
    height: 60px;
    background: white;
    margin: auto;
    border: 1px solid white;
    border-radius: 8px;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#scanBox{
    width: 16%;
    height: 60px;
    /*background: green;*/

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.dInput{
    width: 220px;
    height: 30px;
    line-height: 30px;
    border: none;
    font-size: 15px;
    margin-left: 10px;
    /*background: blue;*/
}
.sousuoImage{
    width: 31px;
    height: 32px;
    margin-left: 5px;
}
.saoyisaoImage{
    width: 34px;
    height: 32px;
    margin-left: 10px;
}

/*----------2-------------*/
#contain_navbar_2{
    background: #EFEFF4;
    display: none;
    width: 100%;
    /*height: 1200px;*/
    position: relative;
}

#tip_contain_navbar_2{
    /*background: red;*/
    width: 100%;
    height: 120px;
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tip_image_box_bc{
    width: 100%;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tip_image_box_bc img{
    width: 112px;
    height: 69px;
    text-align: center;
}

#tip_contain_navbar_2 p{
    color: black;
    font-size: 19px;
}

#containBox_bc{
    width: 100%;
    /*background: red;*/
    margin-top: 10px;
}

#searchBox_bc{
    width: 90%;
    height: 60px;
    background: white;
    margin: auto;
    border: 1px solid white;
    border-radius: 8px;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}